body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #FFB75E, #ED8E7C);
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.title {
    font-size: 48px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}


.container {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.input-wrapper {
    margin-bottom: 20px;
}

.input-label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.input-field:focus {
    border-color: #FEC140;
}

.output-canvas {
    display: block;
    margin: 30px auto;
    border: 2px solid #444;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.pixel-counts {
    margin-bottom: 30px;
    color: #333;
    font-size: 18px;
    transition: all 0.3s ease;
}

